<h1>Edit Officialtext Form</h1>
{%  if (form is not null) %}
<form action="{{ url('api_1_post_officialtext') }}" method="PUT" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" value="submit">
</form>
{% endif %}
